body {
  font-family: sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;

  padding: 20px;
}

textarea {
  height: 100px;
}

.load-graph-btn {
  margin: 10px 0;
  height: 50px;
}

svg {
  background: blue;
  width: 100%;
  heightL 10
}

.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.node circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

.node text {
  fill: #666;
  font-family: Helvetica;
}
